.nav-tabs .nav-item .nav-link.active, .nav-tabs .nav-item.show a.nav-link { background: #74788d75; }
.tab-pane .table-responsive tr.o_data_row > * { text-align: left !important; }
.o_form_sheet_bg footer div[name="states_buttons"] > button { margin-right: 3px; }