<odoo>
    <data>
<!--        <menuitem id="vtt_menu_zalo_root" name="Zalo" sequence="20" web_icon="vtt_ext_api,static/description/icon.png"/>-->
        <menuitem id="vtt_menu_zalo_root" name="Zalo" parent="sale.sale_menu_root" sequence="20">
            <menuitem id="vtt_menu_zalo_product_category" name="Zalo product categories" sequence="10" action="zalo_product_category_action"/>
            <menuitem id="vtt_menu_zalo_news" name="Zalo News" sequence="20" action="vtt_zalo_news_action"/>
<!--            <menuitem id="vtt_loyalty_tier_news" name="Loyalty tier" sequence="30" action="vtt_loyalty_tier_action"/>-->
            <menuitem id="vtt_menu_zalo_sale_order" name="Zalo sale order" sequence="10" action="vtt_zalo_sale_order_tree_action"/>
        </menuitem>

<!--        <menuitem id="vtt_menu_zalo_sale_order" parent="sale.sale_order_menu" name="Zalo sale order" sequence="10" action="vtt_zalo_sale_order_tree_action"/>-->
    </data>
</odoo>